body{
    --interface-color: var(--ctp-surface0);
    --text-color: var(--ctp-text);
    --background-color: var(--ctp-crust);
    --video-background-color: var(--ctp-mantle);
    --link-color-rgb: 137, 180, 250; /* ctp-blue-rgb */
    --visited-link-color-rgb: 180, 190, 254; /* ctp-lavender-rgb */
}

a:link {
    color: rgb(var(--link-color-rgb));
}

a:visited {
    color: rgb(var(--visited-link-color-rgb));
}

a:not([href]){
    color: var(--text-color);
}

.comment .permalink{
    color: var(--ctp-text);
}

.setting-item{
    background-color: var(--ctp-surface1);
    border-radius: 12px;
}


.muted{
    background-color: var(--ctp-surface0);
    color: var(--ctp-overlay1);
    border-radius: 12px;
}

.muted a:link {
    color: var(--ctp-sky);
}

.button,
input,
select,
button[type=submit]{
    color: var(--ctp-text);
    background-color: var(--ctp-surface1);
    border: 1px solid var(--ctp-overlay0);
    border-radius: 12px;
    padding: 8px 16px;
}
.button:hover,
input:hover,
select:hover,
button[type=submit]:hover{
    background-color: var(--ctp-surface2);
}

input[type="checkbox"]{
    -webkit-filter: invert(85%) hue-rotate(18deg) brightness(1.7);
            filter: invert(85%) hue-rotate(18deg) brightness(1.7);
} 
input[type="checkbox"]:checked{
    -webkit-filter: none;
            filter: none;
}


